<div class="back-top">
  <a href="#top" class="back-top--btn soft-style--box soft-size--large" title="Back to top">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="18 15 12 9 6 15"></polyline>
    </svg>
    <span>Top</span>
  </a>
  <style>
    body {
      position: relative;
    }
    @media screen and (prefers-reduced-motion: no-preference) {
      html {
        scroll-behavior: smooth;
      }
    }
    .back-top {
      position: absolute;
      top: 110vh;
      right: 0;
      bottom: -5em;
      pointer-events: none;
    }
    .back-top .back-top--btn {
      position: fixed;
      position: sticky;
      pointer-events: all;
      top: calc(100vh - 5rem);
      display: flex;
      flex-direction: column;
      color: var(--theme-text-light);
      padding: 0.5rem 1rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      opacity: 0.8;
    }
    .back-top--icon svg {
      width: 2rem;
      height: 2rem;
    }
  </style>
</div>
