<div class="">
    <script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
    <div id="waline"></div>
</div>
<script type="application/javascript">
    Waline({
        el: '#waline',
        serverURL: 'https://shuey-comment.vercel.app/',
        visitor: true,
        emoji: [
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/weibo',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/alus',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tw-food',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tw-natural'
        ],
    });
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>