<div style="padding: 0 10px;">
    <script src="//cdn.jsdelivr.net/npm/@waline/client/dist/waline.js"></script>
    <style>
        @import url("//cdn.jsdelivr.net/npm/@waline/client/dist/waline.css");
    </style>
    <div id="waline"></div>
</div>
<script type="application/javascript">
    const locale = {
        placeholder: '欢迎评论, 填写邮箱可以在评论被回复时收到通知哦~',
        sofa: '来发评论互动吧~',
        admin: '博主',
    };
    Waline.init({
        el: '#waline',
        locale,
        serverURL: 'https://comment.shuey.fun',
{{- if not .Page.Site.IsServer -}}
        pageview: true,
{{- end -}}
        comment: true,
        // avatar: 'retro',
        dark: '.theme-dark',
        emoji: [
            'https://unpkg.com/@waline/emojis@1.0.1/bilibili',
            'https://unpkg.com/@waline/emojis@1.0.1/tw-natural',
        ],
    });
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>